.earth {
  background-image: url("http://fc04.deviantart.net/fs71/i/2013/070/e/d/ice_planet___kronos_by_khrymsyn-d5xqmnm.png");
}
.moon {
  background-image: url("http://th02.deviantart.net/fs71/PRE/i/2012/337/3/6/planet_png_by_phip_phantom-d5mwylq.png");
}
html, body {
  background-color: black;
}
.planet {
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
}
.earth {
  margin: -100px 0 0 -100px;
  height: 200px;
  width: 200px;
}
.moon {
  margin: -75px 0 0 -75px;
  height: 150px;
  width: 150px;
}
